/*
Sobre os comentários:
-> Início de um grupo de classes.
<- Fim de um grupo de classes.
*/

@media (min-width:768px) {
    header {
        background: url("images/Background.png") no-repeat center;
    }
}

@media (max-width:767.98px) {
    header {
        background: url("images/Background\ Clear.png") no-repeat center;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

/* BANNER INICIAL -> */

header {
    padding: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

/* NAVBAR -> */

header nav {
    padding: 10px;
    display: flex;
    max-width: 540px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* LOGO -> */

header nav>a {
    margin: 10px;
    width: 55px;
    height: 55px;
    font-size: 0;
    background: url("icons/Winkle\ White.png") no-repeat center;
    background-size: cover;
    transition: 0.2s;
}

header nav>a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* <- LOGO */

header nav ul {
    display: flex;
    flex-wrap: wrap;
    min-width: 85%;
    justify-items: center;
    justify-content: space-around;
}

header nav ul li {
    margin: 0 10px;
    align-self: center;
}

header nav ul li a {
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

header nav ul li a:hover {
    font-size: 22px;
    transition: 0.2s;
}

/* <- NAVBAR */

/* <- BANNER INICIAL */

main h1 {
    text-align: center;
    margin: 0;
    padding: 30px 30px 0 30px;
    line-height: 100%;
}

#products {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

#products a {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    width: 250px;
    margin: 30px;
    border-radius: 12px;
    transition: 0.2s;
}

#products a:hover {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.50);
}

#products img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 140px;
    width: 100%;
    margin: auto;
    display: block;
}

#products section {
    color: black;
    background: white;
    display: block;
    height: 160px;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#products section * {
    margin: 5px 0px;
}

#products section p {
    overflow: hidden;
    height: 66px;
}

footer {
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer section {
    margin: 10px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    font-size: 0;
}

footer img {
    object-fit: fill;
    width: 22px;
    height: 22px;
}